@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navibar {
    text-decoration: none;

    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: rgb(210, 222, 228);
    width: 100vw;

    top: 0;
    animation: navihide 2s;
}

.project-box {
    transition: 0.2s ease-in-out;
}

.project-box:hover {
    box-shadow: 1px 1px 15px black;

}


.menubar {
    text-decoration: none;

    display: flex;
    justify-content: flex-end;
    flex-basis: auto;
    list-style-type: none;
    margin: 10px;

    width: 100vw;

    top: 0;
    animation: navihide 2s;
}

.nv-item:hover {
    text-decoration: none;

}


@media only screen and (max-width: 780px) {
    .navibar {

        display: none;
    }
}

@media only screen and (min-width: 780px) {
    .menubar {
        display: none;
    }
}


.container {
    margin-top: 30px;
}

@keyframes navihide {
    0% {
        left: -350px;
    }

    100% {
        left: 0px
    }
}

.home-list {
    margin: 20px;
    text-align: center;
}

a {
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 2px;
}

.first-name {
    font-family: 'Vidaloka', serif;
    font-size: 30px;

}


.resizer {
    position: relative;
}

.portfolio-image {

    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: right -70%;
    border-radius: 50%;
    border-top: 20px;
    padding-top: 20px;
    margin-top: 50px;
    rotate: -5deg;
    animation: fadeIn 5s;
    box-shadow: 1px 1px 20px black;
    border-radius: 100%;

}


details {
    border-radius: 5px;
    padding: 10px;

}


details:hover {
    box-shadow: 1px 1px 10px black;
    transition: ease-in-out 0.2s;
}


.hi-text {


    font-family: 'Vidaloka', serif;
    font-size: 50px;
    width: 500px;
    animation: textSlide 2s;
    position: relative;
    top: 70px;
}

@keyframes textSlide {
    0% {
        top: 40px;
        opacity: 0
    }

    100% {
        top: 70px;
        opacity: 1;
    }
}

.page-start {
    margin: 100px 0px;


}

.full-stack {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: large;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-weight: 300;
}





.a-link {
    font-family: 'Merriweather Sans', sans-serif;
    border: 2px solid black;
    padding: 20px 30px;
    border-radius: 10px;

}

.res-down {
    position: relative;
    top: 25px;
    animation: downslide 2s;
}

@keyframes downslide {
    0% {
        top: 10px;
        opacity: 0
    }

    100% {
        top: 25px;
        opacity: 1;
    }
}

.a-link:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 20px black;

}

a {
    transition-duration: 0.5s;
}

.small-box {

    background-color: rgb(53, 51, 51);
    width: 200px;
    padding: 20px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}

.skill-name {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.topic-heading {
    width: 100%vw;
    margin: 30px;
    font-weight: bolder;
}

.t-heading {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

.skill-row {
    margin-top: 85px;

    margin: 25px
}

.about-me-paragraph {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    word-spacing: 3px;
    padding: 0px 25px;



}

hr {
    margin: 45px 0px
}

.rows {
    text-align: center;

}



.field {
    padding: 7px;
    margin: 15px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;

}

.field-width {
    margin-top: 20px
}

.submit-btn {
    margin-bottom: 20px;
    background-color: transparent;

}

.img-hov {
    transition: ease-in-out 0.3s;
}

.img-hov:hover {
    height: 305px;


}